/* NAVIGATION */
nav {
    background-color: #bcdef1;
    color: white;
    display: flex;
    align-items: center; 
    font-size: 24px;
    font-family: "Merriweather", serif; 
    border-radius: 40px;
    padding: 20px; 
    width: fit-content; 
    gap: 20px;
    padding-right: 1350px;
   
}

nav .image img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}

nav ul {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    list-style-type: none; 
    margin: 0;
    padding: 0; 
}

nav ul li {
    font-size: 16px; 
    color: white;
    font-weight: bold;
}


