/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
font-size: 36px;
font-family: "Merriweather";
color: #255377;
}

h2 {
font-size: 21;
font-family: "Montserrat";
color: #255377;
}

h3 {

}

h4 {

}

h5 {

}

h6 {
}

p {
font-size: 14px;
font-family: "Montserrat";
color: #255377;
}

a {

}


