@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #f4edd0;
	color: #255377;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}

/* Navigation --> DONE!*/
nav {
	height: 130px;
	background-color: #bcdef1;
	display: flex;
	align-items: center;
	top: 0;
	z-index: 2;
	padding: 0 100px;
	position: relative;
}

.nav-center {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	gap: 45px;
}

nav img {
	height: 85px;
	width: auto;
}

.items {
	list-style: none;
	display: flex;
	gap: 40px;
	padding: 0;
	font-family: "Merriweather";
	font-size: 14pt;
}

.items li {
	display: inline;
}

.items a {
	text-decoration: none;
	color: #255377;
	font-weight: 600;
	transition: color 0.3s ease;
}

.items a:hover {
	color: #ec5671;
}

.hr-container {
	position: absolute;
	width: 100%;
	top: 65px;
	flex-grow: 1;
	left: 140px;
}

.hr-container hr {
	width: 67%;
	height: 1px;
	background-color: #255377;
	border: none;
}

/* Social Media --> DONE!*/
.socials {
	z-index: 4;
	display: flex;
	gap: 10px;
	position: relative;
}

.socials a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #255377;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.socials a img {
	height: 25px;
	width: 25px;
}

.socials a:hover {
	transform: scale(1.2);
	background-color: #163d5f;
}

/*Header --> DONE!**/

header {
	aspect-ratio: 20 / 9;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

header .information {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	margin-top: 100px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
}

header .information img {
	width: auto;
	max-width: 80%;
	height: auto;
}

header .ten-years {
	font-size: 12pt;
	color: #255377;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 20px;
	position: absolute;
	margin-top: 40px;
}

/* call to action --> DONE!*/

header .button-1 a {
	background-color: #ec5671;
	font-family: "Merriweather";
	color: white;
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 50px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-1 a:hover {
	background-color: #bcdef1;
	transition: transform 0.3s ease;
	color: #255377;
}

/*TITLE*/

.title {
	display: flex;
	justify-content: center;
}

.title img {
	height: 200px;
	width: auto;
	padding: 2%;
}

/* Memories 1 --> DONE!*/

.slideshow-container-memory1 {
	position: relative;
	max-width: 100%;
	margin: auto;
}

.slideshow1 {
	height: auto;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slideshow1.show {
	display: flex;
}

.memory1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin: 0 100px;
	max-width: 100%;
}

.memory1-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 40%;
	z-index: 3;
}

.memory1-text {
	position: absolute;
	top: 9%;
	left: 62%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 40%;
}

.memory1-text1 {
	position: absolute;
	top: 12%;
	left: 63%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 40%;
}

.memory1 h1 {
	font-family: "Merriweather";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	margin-bottom: 10px;
}

.memory1 p {
	font-size: 16px;
	max-width: 80%;
}

.prev_memory1,
.next_memory1 {
	cursor: pointer;
	width: auto;
	padding: 16px;
	color: #163d5f;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	position: absolute;
	top: 50%;
}

/* Position the "next button" to the right */
.next_memory1 {
	position: absolute;
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev_memory1:hover,
.next_memory1:hover {
	background-color: rgba(22, 61, 95, 0.25);
}

/* The dots/bullets/indicators */
.dot_memory1 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bcdef1;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 20px;
}

.active,
.dot_memory1:hover {
	background-color: #163d5f;
}

/* Memories 2 --> DONE!*/

.slideshow-container-memory2 {
	position: relative;
	max-width: 100%;
	margin: auto;
}

.slideshow2 {
	height: auto;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slideshow2.show {
	display: flex;
}

.memory2 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.memory2 img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: 15%;
}

.memory2-text {
	position: absolute;
	top: 15%;
	right: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 40%;
}

.memory2 h1 {
	font-family: "Merriweather";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	margin-bottom: 10px;
}

.memory2 p {
	font-size: 16px;
	max-width: 80%;
}

.prev_memory2,
.next_memory2 {
	cursor: pointer;
	width: auto;
	padding: 16px;
	color: #163d5f;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	position: absolute;
	top: 50%;
}

/* Position the "next button" to the right */
.next_memory2 {
	position: absolute;
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev_memory2:hover,
.next_memory2:hover {
	background-color: rgba(22, 61, 95, 0.25);
}

/* The dots/bullets/indicators */
.dot_memory2 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bcdef1;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 20px;
}

.active,
.dot_memory2:hover {
	background-color: #163d5f;
}

/*PINK*/
.memories-pink {
	background-color: #ec5671;
	height: auto;
	padding: 50px 0;
	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}

.memories-pink.show {
	display: flex;
}

.memory3,
.memory4 {
	margin: 0 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	max-width: 500px;
}

.memory3 h1,
.memory4 h1 {
	color: white;
	align-self: center;
	font-family: "Merriweather";
	font-weight: bold;
}

.memory3-text,
.memory4-text {
	position: absolute;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: flex-start;
	align-self: center;
	width: 60%;
	z-index: 2;
	font-size: 11pt;
}

.picturesDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.backgroundPaperL,
.backgroundPaperR {
	height: 750px;
	width: auto;
	position: relative;
	z-index: 1;
}

.infoL,
.infoR {
	position: relative;
	z-index: 1;
	transition: z-index 0.4s ease-in-out;
}

.infoL:hover,
.infoR:hover {
	z-index: 4;
}

.Barbara,
.Gohram,
.name1 {
	position: absolute;
	top: 0px;
	left: 30px;
	width: 320px;
	z-index: 3;
}

.Viet,
.Mahyar,
.name2 {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 320px;
	z-index: 3;
}

/*Slideshow*/
.slideshow-container {
	background-color: #ec5671;
	position: relative;
}

.prev,
.next {
	cursor: pointer;
	width: auto;
	padding: 16px;
	color: #163d5f;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	position: absolute;
	top: 50%;
}

/* Position the "next button" to the right */
.next {
	position: absolute;
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(22, 61, 95, 0.25);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #163d5f;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 12px;
	position: absolute;
	top: 20px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bcdef1;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 20px;
}

.active,
.dot:hover {
	background-color: #163d5f;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* call to action --> DONE!*/
.button-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-2 a {
	background-color: #bcdef1;
	color: #255377;
	font-family: "Merriweather";
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 24pt;
	text-decoration: none;
	margin: 50px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-2 a:hover {
	background-color: #ec5671;
	color: white;
	transition: transform 0.3s ease;
}

/* Memories 5 --> DONE!*/

.slideshow-container-memory5 {
	position: relative;
	max-width: 100%;
	margin: auto;
}

.slideshow3 {
	height: auto;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slideshow3.show {
	display: flex;
}

.memory5 {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.memory5 img {
	width: 100%;
	height: auto;
	display: block;
}

.memory5-text {
	position: absolute;
	top: 15%;
	left: 63%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	width: 40%;
}

.memory5 h1 {
	font-family: "Merriweather";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	margin-bottom: 10px;
}

.memory5 p {
	font-size: 16px;
	max-width: 80%;
}

.prev_memory5,
.next_memory5 {
	cursor: pointer;
	width: auto;
	padding: 16px;
	color: #163d5f;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	position: absolute;
	top: 50%;
}

/* Position the "next button" to the right */
.next_memory5 {
	position: absolute;
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev_memory5:hover,
.next_memory5:hover {
	background-color: rgba(22, 61, 95, 0.25);
}

/* The dots/bullets/indicators */
.dot_memory5 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bcdef1;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-bottom: 20px;
}

.active,
.dot_memory5:hover {
	background-color: #163d5f;
}

/*Ending*/

.ending {
	display: flex;
	flex-direction: column;
}

.ending img {
	height: auto;
	width: 90%;
	padding-top: 5%;
	padding-left: 5%;
}

/*FOOTER --> DONE!*/
footer {
	height: 130px;
	background-color: #bcdef1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	padding: 0 100px;
	margin-top: 50px;
}

footer img {
	height: 85px;
	width: auto;
}

.footer-text {
	list-style: none;
	display: flex;
	gap: 40px;
	padding: 0;
	font-family: "Merriweather";
	font-size: 14pt;
}

.footer-text a {
	display: inline;
	text-decoration: none;
	color: #255377;
	font-weight: 600;
	transition: color 0.3s ease;
}

.footer-text a:hover {
	color: #ec5671;
}

.topButton img {
	height: 35px;
	width: auto;
	transition: transform 0.3s ease;
}

.topButton img:hover {
	transform: scale(1.2);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		height: auto;
		padding: 20px;
	}

	.items {
		flex-direction: column;
		text-align: center;
		gap: 15px;
	}

	.socials {
		justify-content: center;
		margin-top: 10px;
	}

	hr {
		width: 80%;
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px;
	}
}

@media screen and (max-width: 460px) {
	/*Nav*/
	nav {
		height: auto;
		flex-direction: column;
		padding: 0 20px;
	}

	.nav-center {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	nav img {
		height: 80px;
	}

	.items {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}

	.socials {
		padding-bottom: 10px;
	}

	.socials a img {
		height: 15px;
		width: 15px;
	}

	.hr-container {
		display: none;
	}

	/*Header*/
	header {
		background-image: url(images/Responsive_header.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		aspect-ratio: 16 / 9;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	header .button-1 {
		aspect-ratio: 16 / 9;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 35%;
	}

	header .information {
		width: 90%;
	}

	header .ten-years {
		display: none;
	}

	/*Memories 1 & 2*/

	/* Memories 1 responsive */
	.memory1 {
		flex-direction: column;
		align-items: center;
		margin: 0;
		text-align: center;
	}

	.memory1-text,
	.memory1-text1 {
		position: absolute;
		width: 60%;
		left: 48%;
		top: 0%;
		transform: none;
		text-align: left;
		padding: 10px;
		order: -1;
	}

	.memory1 img {
		width: 100%;
		max-width: 400px;
	}

	/* Memories 2 responsive */
	.memory2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0;
	}

	.memory2-text {
		position: relative;
		width: 80%;
		left: 10%;
		transform: none;
		text-align: center;
		padding: 10px;
		order: -1;
	}

	.memory2 img {
		width: 100%;
		max-width: 500px;
	}

	.memory1 h1,
	.memory2 h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		text-align: center;
	}

	.memory1 p,
	.memory2 p {
		font-size: 14px;
	}

	.prev_memory1,
	.next_memory1,
	.prev_memory2,
	.next_memory2 {
		font-size: 30px;
		padding: 10px;
		top: 45%;
	}

	/*Title*/
	.title img {
		height: 140px;
		padding: 5%;
	}

	/*PINK*/
	.memories-pink {
		padding: 10px 10px;
	}

	.memory3,
	.memory4 {
		width: 80%;
		margin: 0;
	}

	.memory3 h1,
	.memory4 h1 {
		font-size: 18pt;
		text-align: center;
	}

	.memory3-text,
	.memory4-text {
		width: 65%;
		font-size: 9pt;
		top: 50%;
	}

	.picturesDiv {
		flex-direction: column;
	}

	.backgroundPaperL,
	.backgroundPaperR {
		height: 600px;
	}

	.Barbara,
	.Gohram,
	.Viet,
	.Mahyar {
		width: 250px;
		left: 10px;
		right: 10px;
	}

	.slideshow-container {
		padding: 10px;
	}

	.prev,
	.next {
		font-size: 30px;
		padding: 10px;
	}

	.numbertext {
		display: none;
	}

	.button-2 a {
		font-size: 16pt;
		padding: 10px 20px;
		margin: 30px;
	}

	/*Memory 5*/
	.memory5 {
		flex-direction: column;
		position: relative;
		text-align: center;
		padding: 20px;
	}

	.memory5-text {
		position: absolute;
		top: 25%;
		left: 72%;
		transform: translate(-50%, -50%);
		width: 40%;
		text-align: left;
		padding: 10px;
	}

	.memory5 h1 {
		font-size: 20px;
	}

	.memory5 p {
		font-size: 14px;
		max-width: 100%;
	}

	.memory5-text p:nth-of-type(2) {
		display: none;
	}

	.memory5 img {
		width: 100%;
		max-width: 400px;
	}

	.prev_memory5,
	.next_memory5 {
		font-size: 30px;
		padding: 10px;
		top: 45%;
	}

	/*Ending*/
	.ending {
		display: none;
	}

	/*FOOTER*/
	footer {
		flex-direction: column;
		height: auto;
		padding: 20px;
		text-align: center;
		gap: 20px;
	}

	footer img {
		height: 80px;
	}

	.footer-text {
		flex-direction: column;
		gap: 15px;
		font-size: 12pt;
	}

	.topButton img {
		height: 30px;
	}
}
