@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #f4edd0;
	display: flex;
	align-items: center;
	background-image: url("images/pop-up\ afbeelding-08.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	margin: 20%;
}

.popup-text {
	margin: 0px 170px;
	padding-top: auto;
	margin-bottom: 50px;
	color: #255377;
}

.popup-text h1 {
	font-size: 30px;
}

.input {
	display: flex;
	flex-wrap: wrap;
	padding-left: 150px;
}

.input input {
	background-color: #ec5671;
	border: 2px solid #ec5671;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	margin-right: 20px;
}

.input input::placeholder {
	color: white;
	font-family: "Merriweather";
}

.photo input {
	background-image: url(images/add\ image-10.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin-top: 10px;
}

.name {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.personal {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.story {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.story textarea {
	background-color: #ec5671;
	border: 2px solid #ec5671;
	font-family: "Merriweather";
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	margin-right: 20px;
}

.story textarea::placeholder {
	color: white;
	font-size: 16px;
}

.photo {
	display: flex;
	direction: column;
}

.submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.submit button {
	font-family: "Merriweather";
	background-color: #ec5671;
	border: 2px solid #ec5671;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	margin: 20px;
	width: 25%;
	height: 50px;
}

.submit :hover {
	font-family: "Merriweather";
	background-color: #bcdef1;
	border: 2px solid #bcdef1;
	color: black;
	border-radius: 10px;
	font-size: 20px;
	margin: 20px;
	width: 25%;
	height: 50px;
}
