@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #f4edd0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("images/pop-up\ afbeelding-08.png");
	background-size: 55%;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	margin: 20%;
}

.popup-text {
	margin: 0px 280px;
	padding-top: auto;
	color: #255377;
}

.input {
	display: flex;
	flex-wrap: wrap;
	padding-left: 180px;
}

.input input {
	background-color: #ec5671;
	border: 2px solid #ec5671;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	padding-left: 50px;
}

.name {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.personal {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.story {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.photo {
	display: flex;
	direction: column;
}
