@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
	background-color: #f4edd0;
	font-family: "Montserrat";
}

.navigation {
	width: 100%;
	height: 160px;
	background-color: #bcdef1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #255377;
	font-weight: 1000;
	position: relative;
}

.logo-cinemaximiliaan {
	height: 150px;
	padding-left: 100px;
}

.navigation li {
	display: inline;
	white-space: nowrap; /* Prevent text from wrapping */
}

hr {
	color: #255377;
	background-color: #255377;
	height: 1.6px;
	border: none;
	width: 1070px;
	position: relative;
}

.navigation-2 .socials {
	display: flex;
	gap: 15px;
}

.navigation-2 .socials img {
	background-color: #255377;
	border-radius: 100px;
	height: 35px;
	width: auto;
	transition: transform 0.3s ease;
}

.navigation-2 .socials img:hover {
	transform: scale(1.2);
}

.navigation-2 {
	position: absolute;
	right: 140px;
	bottom: 45px; /* Moves the icons up */
}

.navigation-0 {
	padding-right: 145px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(images/afbeelding-header-background.png);
	background-size: cover;
	background-position: center;
	height: 820px;
	max-width: 100%;
	margin-top: 20px;
	position: relative;
}

.header img {
	width: 35%;
	height: auto;
	margin-top: 25px;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 450px;
	margin-bottom: 20px;
}

.header-text {
	font-size: 18pt;
	color: #255377;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 40px;
}

.button-1 a {
	background-color: #ec5671;
	color: white;
	padding: 15px 100px;
	border-radius: 50px;
	font-size: 36pt;
	text-decoration: none;
	margin-bottom: 50px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-1 a:hover {
	background-color: #bcdef1;
	transition: transform 0.3s ease;
}

.story-1-picture img {
	position: relative;
	height: 1000px;
	margin-top: 150px;
	margin-left: 150px;
}

.story-1-tekst {
	position: absolute;
	margin-left: 700px;
	margin-top: 243px;
}

.story-1-tekst h1 {
	color: #255377;
}

.story-1-tekst p {
	color: #255377;
}

.story-2-tekst h1 {
	color: #255377;
}

.story-2-tekst p {
	color: #255377;
}

.story-2-picture img {
	position: relative;
	height: 1000px;
	margin-top: -350px;
	margin-left: 160px;
}

.story-2-tekst {
	position: relative;
	margin-left: 380px;
	margin-top: 30px;
}

.story-behind {
    background-color: #ec5671;
    height: 800px;
}

.button-2 a {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	margin-top: -80px;
	background-color: #ec5671;
	color: white;
	padding: 15px 100px;
	border-radius: 25px;
	font-size: 36px;
	text-decoration: none;
}


/* Roze achtergrond stukje*/

.storys-behind {
    background-color: #ec5671;
    height: 800px;
    display: flex;
}

/*BARBARA*/

.story-behind-1 {
    display: flex;
}

.story-behind-1-tekst {
    position: absolute;
    margin-left: 390px;
    margin-top: 220px;
}
.story-behind-1-background-picture img{
    position: relative;
    height: 700px;
    margin-top: 120px;
    margin-left: 260px;
}

.picture-Barbara img{
    position: absolute;
    height: 500px;
    margin-left: -600px;
    margin-top:  100px;
}

.story-Barbara-title {
    color: white;
    font-size: 36px;;
    position: absolute;
    margin-left: 330px;
}


/* VIET */

.story-behind-2 {
    display: flex;
    margin-left: -250px;
}

.story-behind-2-tekst {
    position: absolute;
    margin-left: 390px;
    margin-top: 220px;
}
.story-behind-2-background-picture img{
    position: relative;
    height: 700px;
    margin-top: 120px;
    margin-left: 260px;
}

.picture-Viet img{
    position: absolute;
    height: 500px;
    margin-left: -350px;
    margin-top:  100px;
}

.story-Viet-title {
    color: white;
    font-size: 36px;;
    position: absolute;
    margin-left: 620px;
}



