@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: antiquewhite;
}

/*navigation**/

nav {
	width: 100%;
	height: 160px;
	background-color: #bcdef1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	position: sticky;
	top: 0;
}

nav img {
	height: 80px;
	padding-left: 100px;
}

nav ul a {
	text-decoration: none;
	color: #255377;
	display: flex;
	flex-direction: column;
}

nav .socials {
}

hr {
	color: #255377;
	background-color: #255377;
	height: 2px;
	border: none;
	width: 1070px;
	position: relative;
}

.navigation-2 .socials img {
	background-color: #255377;
	border-radius: 100px;
	height: 35px;
	width: auto;
	transition: transform 0.3s ease;
}

.navigation-2 .socials img:hover {
	transform: scale(1.2);
}

.navigation-2 {
	position: absolute;
	right: 140px;
	bottom: 45px; /* Moves the icons up */
}

.navigation-0 {
	padding-right: 145px;
}

/*intro text**/

header img {
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 670px;
	margin-bottom: 10px;
	margin-left: 500px;
	margin-right: 500px;
}

.header-text {
	font-size: 16pt;
	color: #255377;
	font-family: "Montserrat";
	text-align: center;
	margin-bottom: 20px;
}

/*call to action**/

.button1 {
	background-color: #ec5671;
	font-family: "Merriweather";
	color: white;
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 50px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.button1 a:hover {
	background-color: #bcdef1;
	transition: transform 0.3s ease;
}

/* memories 1 & 2 */

.story-1-picture img {
	position: relative;
	height: 1000px;
	margin-top: 150px;
	margin-left: 150px;
}

.story-1-tekst {
	position: absolute;
	margin-left: 700px;
	margin-top: 243px;
}

.story-1-tekst h1,
.story-1-tekst p,
.story-2-tekst h1,
.story-2-tekst p {
	color: #255377;
}

.story-2-picture img {
	position: relative;
	height: 1000px;
	margin-top: -350px;
	margin-left: 160px;
}

.story-2-tekst {
	position: relative;
	margin-left: 380px;
	margin-top: 30px;
}

/* memories 3 & 4 */

.storys-behind {
	background-color: #ec5671;
	height: 875px;
	display: flex;
	margin-top: 200px;
}

/*Barbara*/

.story-behind-1 {
	display: flex;
}

.story-behind-1-tekst {
	position: absolute;
	margin-left: 390px;
	margin-top: 220px;
}
.story-behind-1-background-picture img {
	position: relative;
	height: 700px;
	margin-top: 120px;
	margin-left: 260px;
}

.picture-Barbara img {
	position: absolute;
	height: 500px;
	margin-left: -600px;
	margin-top: 100px;
}

.story-Barbara-title {
	color: white;
	font-size: 36px;
	position: absolute;
	margin-left: 330px;
}

/* Viet */

.story-behind-2 {
	display: flex;
	margin-left: -250px;
}

.story-behind-2-tekst {
	position: absolute;
	margin-left: 390px;
	margin-top: 220px;
}
.story-behind-2-background-picture img {
	position: relative;
	height: 700px;
	margin-top: 120px;
	margin-left: 260px;
}

.picture-Viet img {
	position: absolute;
	height: 500px;
	margin-left: -350px;
	margin-top: 100px;
}

.story-Viet-title {
	color: white;
	font-size: 36px;
	position: absolute;
	margin-left: 620px;
}

.story-behind-1-tekst p {
	font-size: 14px;
	color: #255377;
}

.story-behind-2-tekst p {
	font-size: 14px;
	color: #255377;
}

/* call to action */
.button-3 a {
	position: absolute;
	background-color: #bcdef1;
	font-family: "Merriweather";
	color: white;
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 24pt;
	text-decoration: none;
	margin-bottom: 50px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	transform: translateX(-50%);
	left: 50%;
	margin-top: -40px;
}

.button-4 a {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	background-color: #ec5671;
	color: white;
	padding: 15px 100px;
	border-radius: 25px;
	font-size: 36px;
	text-decoration: none;
	margin-top: 18px;
}

.button-4 a:hover {
	background-color: #bcdef1;
	transition: transform 0.3s ease;
}

.footer {
	width: 100%;
	height: 160px;
	background-color: #bcdef1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #255377;
	font-weight: 1000;
	margin-top: 150px;
}

.footer li {
	display: block;
	white-space: nowrap; /* Prevent text from wrapping */
	list-style: none; /* Remove default bullet points */
}

.footer .title {
	font-size: 36px;
	margin-left: 90px;
}

.footer .words {
	font-size: 36px;
	display: flex;
	flex-direction: column; /* Stack items vertically */
	align-items: flex-end; /* Align to the right */
	margin-right: 90px; /* Add space from the right edge */
	gap: 10px; /* Add space between words */
}
